In [34]:
import pandas as pd

In [35]:
import numpy as np

In [49]:
data  = {'Name':['A','B','A','C','B','A'], 'City':['hyd','del','hyd','ban','del','mys'],'Score': [11,12,13,15,16,17]}

In [50]:
data

{'Name': ['A', 'B', 'A', 'C', 'B', 'A'],
 'City': ['hyd', 'del', 'hyd', 'ban', 'del', 'mys'],
 'Score': [11, 12, 13, 15, 16, 17]}

In [51]:
data = pd.DataFrame(data)

In [52]:
data

  Name City  Score
0    A  hyd     11
1    B  del     12
2    A  hyd     13
3    C  ban     15
4    B  del     16
5    A  mys     17

In [54]:
data = data.groupby(['Name','City'])['Score'].sum()

In [55]:
data

Name  City
A     hyd     24
      mys     17
B     del     28
C     ban     15
Name: Score, dtype: int64