In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
data = pd.read_csv("petrol_consumption.csv")

In [5]:
data.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [6]:
data.isna().sum().sum()

0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
Petrol_tax                      48 non-null float64
Average_income                  48 non-null int64
Paved_Highways                  48 non-null int64
Population_Driver_licence(%)    48 non-null float64
Petrol_Consumption              48 non-null int64
dtypes: float64(2), int64(3)
memory usage: 1.9 KB

In [8]:
data.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
from sklearn.tree import DecisionTreeRegressor

In [11]:
ln = LinearRegression()

In [12]:
dr = DecisionTreeRegressor()

In [13]:
X = data.drop("Petrol_Consumption",axis=1)

In [14]:
y = data["Petrol_Consumption"]

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size =0.15)

In [17]:
x_train.shape

(40, 4)

In [18]:
y_train.shape

(40,)

In [19]:
x_test.shape

(8, 4)

In [20]:
ln.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
ln_YPred = ln.predict(x_test)

In [22]:
ln_YPred

array([449.88321948, 566.57104663, 640.6493595 , 454.73553543,
       535.22618613, 560.80523337, 594.48761722, 577.7126467 ])

In [23]:
dr.fit(x_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [24]:
dr_YPred = dr.predict(x_test)

In [25]:
dr_YPred

array([566., 603., 632., 487., 541., 554., 699., 580.])

In [26]:
from sklearn.metrics import mean_squared_error,r2_score

In [27]:
ln_r2 = r2_score(y_test,ln_YPred)
dr_r2 = r2_score(y_test,dr_YPred)

In [28]:
ln_r2

-0.09881677882545681

In [29]:
dr_r2

0.3254094600116827

In [30]:
newset = pd.DataFrame({"Actual": y_test, "Lr_Pred": ln_YPred,"Dr_Pred": dr_YPred})

In [31]:
newset

    Actual     Lr_Pred  Dr_Pred
23     547  449.883219    566.0
13     508  566.571047    603.0
14     566  640.649359    632.0
29     534  454.735535    487.0
4      410  535.226186    541.0
30     571  560.805233    554.0
17     714  594.487617    699.0
26     577  577.712647    580.0

In [32]:
ln_MSE = mean_squared_error(y_test,ln_YPred)

dr_MSE = mean_squared_error(y_test,dr_YPred)

In [33]:
ln_MSE

6848.35840501749

In [34]:
dr_MSE

4204.375

In [35]:
ln_RMSE = np.sqrt(mean_squared_error(y_test,ln_YPred))

In [36]:
dr_RMSE = np.sqrt(mean_squared_error(y_test,dr_YPred))

In [37]:
ln_RMSE

82.7548089540269

In [38]:
dr_RMSE

64.84115205639085

In [39]:
data["Petrol_Consumption"].mean()*0.1

57.67708333333334

In [42]:
ln.score(x_train,y_train)

0.7420677159128937

In [43]:
dr.score(x_train,y_train)

1.0

In [44]:
ln.score(x_test,ln_YPred)

1.0

In [45]:
dr.score(x_test,dr_YPred)

1.0