In [6]:
import pandas as pd

c:\users\kobalaji\appdata\local\programs\python\python37-32\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 112 from C header, got 124 from PyObject
  return f(*args, **kwds)
c:\users\kobalaji\appdata\local\programs\python\python37-32\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 112 from C header, got 124 from PyObject
  return f(*args, **kwds)

In [7]:
import numpy as np

In [8]:
data = pd.read_csv("petrol_consumption.csv")

In [9]:
data.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [10]:
data.isna().sum().sum()

0

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
Petrol_tax                      48 non-null float64
Average_income                  48 non-null int64
Paved_Highways                  48 non-null int64
Population_Driver_licence(%)    48 non-null float64
Petrol_Consumption              48 non-null int64
dtypes: float64(2), int64(3)
memory usage: 1.9 KB

In [12]:
data.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
from sklearn.tree import DecisionTreeRegressor

In [15]:
ln = LinearRegression()

In [16]:
dr = DecisionTreeRegressor()

In [17]:
X = data.drop("Petrol_Consumption",axis=1)

In [18]:
y = data["Petrol_Consumption"]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size =0.15)

In [21]:
x_train.shape

(40, 4)

In [22]:
y_train.shape

(40,)

In [23]:
x_test.shape

(8, 4)

In [24]:
ln.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
ln_YPred = ln.predict(x_test)

In [26]:
ln_YPred

array([599.4270985 , 520.32826935, 647.85414659, 577.5810545 ,
       631.33270545, 702.60439177, 554.88731948, 566.76219876])

In [27]:
dr.fit(x_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [28]:
dr_YPred = dr.predict(x_test)

In [29]:
dr_YPred

array([635., 534., 610., 457., 628., 498., 561., 610.])

In [30]:
from sklearn.metrics import mean_squared_error,r2_score

In [31]:
ln_r2 = r2_score(y_test,ln_YPred)
dr_r2 = r2_score(y_test,dr_YPred)

In [32]:
ln_r2

0.5794756122801673

In [33]:
dr_r2

-0.4474460908324298

In [34]:
newset = pd.DataFrame({"Actual": y_test, "Lr_Pred": ln_YPred,"Dr_Pred": dr_YPred})

In [35]:
newset

    Actual     Lr_Pred  Dr_Pred
16     603  599.427098    635.0
0      541  520.328269    534.0
42     632  647.854147    610.0
21     540  577.581054    457.0
41     699  631.332705    628.0
20     649  702.604392    498.0
1      524  554.887319    561.0
13     508  566.762199    610.0

In [36]:
ln_MSE = mean_squared_error(y_test,ln_YPred)

dr_MSE = mean_squared_error(y_test,dr_YPred)

In [37]:
ln_MSE

1745.3864712311656

In [38]:
dr_MSE

6007.625

In [39]:
ln_RMSE = np.sqrt(mean_squared_error(y_test,ln_YPred))

In [40]:
dr_RMSE = np.sqrt(mean_squared_error(y_test,dr_YPred))

In [41]:
ln_RMSE

41.77782272008877

In [42]:
dr_RMSE

77.50887046009638

In [43]:
data["Petrol_Consumption"].mean()*0.1

57.67708333333334

In [44]:
ln.score(x_train,y_train)

0.6822325541974308

In [45]:
dr.score(x_train,y_train)

1.0

In [46]:
ln.score(x_test,ln_YPred)

1.0

In [47]:
dr.score(x_test,dr_YPred)

1.0

# Random Forest Regressor

In [48]:
from sklearn.ensemble import RandomForestRegressor

In [51]:
rf = RandomForestRegressor(n_estimators=20,random_state=0)
rf.fit(x_train,y_train)
yPred = rf.predict(x_test)

In [53]:
from sklearn.metrics import r2_score,mean_squared_error

In [74]:
print("r2_score :{:.2f}".format(r2_score(y_test,yPred)*100))
print("MSE :{:.2f}".format(mean_squared_error(y_test,yPred)))
print("RMSE :{:.2f}".format(np.sqrt(mean_squared_error(y_test,yPred))))
print("Target_Mean :{:.2f}".format(data["Petrol_Consumption"].mean()*0.1))

r2_score :30.13
MSE :2899.77
RMSE :53.85
Target_Mean :57.68

In [77]:
rf = RandomForestRegressor(n_estimators=50,random_state=0)
rf.fit(x_train,y_train)
yPred = rf.predict(x_test)
print("r2_score :{:.2f}".format(r2_score(y_test,yPred)*100))
print("MSE :{:.2f}".format(mean_squared_error(y_test,yPred)))
print("RMSE :{:.2f}".format(np.sqrt(mean_squared_error(y_test,yPred))))
print("Target_Mean :{:.2f}".format(data["Petrol_Consumption"].mean()*0.1))

r2_score :35.36
MSE :2683.02
RMSE :51.80
Target_Mean :57.68